[submodule "testing/gtest"]
	path = testing/gtest
	url = https://chromium.googlesource.com/external/googletest.git
[submodule "testing/gmock"]
	path = testing/gmock
	url = https://chromium.googlesource.com/external/googlemock.git
[submodule "base"]
	path = base
	url = https://github.com/zhchbin/chromium-base
[submodule "third_party/ninja"]
	path = third_party/ninja
	url = https://github.com/zhchbin/ninja.git
	branch = dn
[submodule "third_party/mongoose"]
	path = third_party/mongoose
	url = https://github.com/cesanta/mongoose.git
